<strong>Olá, {{ deliveryman }}!</strong>
<p>Você possui um novo cancelamento de entrega! </p>
<p>Confira os dados abaixo: </p>
<p>
  <strong>Pedido: </strong> {{ order_id }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Motivo: </strong> {{ description }} <br />
  <br />
</p>
